body {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 60em;
	line-height: 1.4;
}

header h1, article {
	border-bottom: 1px solid #999999;
}

header h1 {
	text-align: center;
}

article time {
	font-size: 0.8em;
}
